<% price = Billing::PricePresenter.new(price: @price, view: self) %>

<ol class="breadcrumb">
    <li><%= link_to t('admin.billing.prices.index.title'), admin_prices_path %></li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <h1><%= t '.title' %></h1>
        </div>

        <div class="col-sm-2 text-right">
            <%= price.expire_btn %>
        </div>
    </div>
</div>



<%= render 'form', price: @price %>
