<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<% if Application.feature_enabled?(:auto_invoice) %>
    <div class="row">
        <div class="col-sm-4">
            <%= render 'registrar/settings/auto_invoice/for_settings', registrar: @registrar %>
        </div>
    </div>
<% end %>